@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400700&family=Montserrat:wght@400600700&family=Raleway:wght@400600700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Playfair+Display:ital,wght@0,4001,4001,700&display=swap");
* {
  outline: none !important; }

img {
  max-width: 100%;
  height: auto; }

body {
  min-height: 100vh;
  padding-top: 60px;
  font-family: "Playfair Display", serif; }
  body .dash-page {
    margin-right: 250px; }
@media(max-width: 1200px) {
  body .dash-page {
    margin-right: 0; } }
  body::-webkit-scrollbar {
    width: 3px;
    height: 4px; }
  body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px; }
  body::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 3px; }
  body.dark-mode {
    background: rgba(0, 0, 0, 0.4); }
    body.dark-mode .navbar {
      background: #003;
      color: #fff !important; }
    body.dark-mode .btn {
      color: #fff;
      transition: 0.3s; }
      body.dark-mode .btn:hover {
        opacity: 0.7; }
    body.dark-mode .sandwich {
      background: transparent;
      color: #fff; }
      body.dark-mode .sandwich span {
        border-top: 2px solid #fff; }
      body.dark-mode .sandwich:before, body.dark-mode .sandwich:after {
        border-top: 2px solid #fff; }
    body.dark-mode .right-bar {
      background: rgba(0, 0, 0, 0.7);
      color: #d9d9d9; }
      body.dark-mode .right-bar .card {
        background: rgba(0, 0, 0, 0.3);
        color: #fff; }
    body.dark-mode .dash-page {
      background: black; }
    body.dark-mode .widgets {
      background: rgba(0, 0, 0, 0.3);
      color: #d9d9d9; }
    body.dark-mode .messages .card {
      background: #000; }
    body.dark-mode .widget-cards {
      background: rgba(0, 0, 0, 0.3); }
      body.dark-mode .widget-cards .card .card-title {
        color: #fff !important; }
      body.dark-mode .widget-cards .card .card-text {
        color: #c9cccc; }
    body.dark-mode .card {
      background: rgba(0, 0, 0, 0.8);
      color: #fff; }
      body.dark-mode .card:hover {
        color: #cdcdcd;
        background: rgba(255, 255, 255, 0.2); }
      body.dark-mode .card.new {
        background: rgba(255, 255, 255, 0.1);
        color: #000; }
        body.dark-mode .card.new:hover {
          background: rgba(255, 255, 255, 0.5) !important; }
    body.dark-mode .btn-light {
      background: transparent; }

.up {
  text-transform: uppercase; }

.body-active {
  margin-left: 250px;
  transition: 0.3s; }
  @media (max-width: 767.98px) {
    .body-active {
      margin-left: 0;
      padding-top: 0; }
      .body-active .dash-page {
        margin-top: 70px; } }
  @media (min-width: 768px) {
    .body-active .dash-page {
      margin-top: 40px; }
    .body-active .right-bar {
      margin-top: 55px; } }
  @media (min-width: 1342px) {
    .body-active .dash-page {
      margin-top: 10px; }
    .body-active .right-bar {
      margin-top: 25px; } }
  .body-active .left-bar {
    transition: 0.3s;
    min-width: 250px;
    min-height: 100vh;
    transform: translateX(0px); }
    @media (max-width: 991.98px) {
      .body-active .left-bar {
        transform: translateX(0px); } }
    .body-active .left-bar .left-bar-top {
      padding: 15px 20px; }
    .body-active .left-bar .left-bar-bottom {
      padding: 22px 0px 70px 0px; }
  .body-active .sandwich {
    transform: translateX(0px); }
    @media (max-width: 991.98px) {
      .body-active .sandwich {
        transform: translateX(0px); } }

.navbar-dashboard {
  background: #fff;
  padding: 15.5px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  z-index: 1041;
  font-family: "Montserrat", sans-serif; }
  .navbar-dashboard.active {
    width: calc(100% - 250px);
    transform: translateX(250px); }
    @media (max-width: 767.98px) {
      .navbar-dashboard.active {
        Width: 500%; } }
  .navbar-dashboard .user .dropdown-toggle:after {
    display: none; }
  .navbar-dashboard .dropdown-toggle:after {
    vertical-align: 0.155em; }
  .navbar-dashboard input {
    padding: 5px 20px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 12px; }
  .navbar-dashboard .search {
    border-radius: 100px;
    border: 0px solid transparent;
    background-color: #f3f3f3; }
    .navbar-dashboard .search:after {
      content: ""; }
  .navbar-dashboard .dd-ava .ava {
    background: url(../img/face.jpg);
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-right: 15px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    transition: 0.3s; }
    .navbar-dashboard .dd-ava .ava:hover {
      transform: rotate(45deg); }
    .navbar-dashboard .dd-ava .ava.dropdown-toggle:after {
      display: none; }
  .navbar-dashboard .dd-ava .dropdown-menu {
    left: inherit;
    right: 0; }

.left-bar {
  position: fixed;
  left: 0px;
  top: 0;
  bottom: 0;
  z-index: 1040;
  width: 250px;
  background: #1c2b36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  color: #c1daec;
  transform: translateX(-250px);
  font-family: "Montserrat", sans-serif; }
  .left-bar .left-bar-top {
    padding: 0;
    transition: 0.3s; }
  .left-bar .left-bar-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 0;
    overflow: auto;
    flex-grow: 1;
    transition: 0.3s; }
    .left-bar .left-bar-bottom::-webkit-scrollbar {
      width: 3px;
      height: 4px; }
    .left-bar .left-bar-bottom::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 3px; }
    .left-bar .left-bar-bottom::-webkit-scrollbar-thumb {
      background-color: #000;
      border-radius: 3px; }
  @media (max-width: 991.98px) {
    .left-bar {
      transform: translateX(-250px); } }
  .left-bar .progress {
    height: 0.5rem !important; }

.right-bar {
  position: fixed;
  right: 0;
  top: 44px;
  bottom: 0;
  z-index: 1040;
  width: 250px;
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  margin-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #f3f3f3;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s; }
  .right-bar::-webkit-scrollbar {
    width: 3px;
    height: 4px; }
  .right-bar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px; }
  .right-bar::-webkit-scrollbar-thumb {
    background-color: #c1daec;
    border-radius: 3px; }
  @media (max-width: 1200px) {
    .right-bar {
      transform: translateX(250px); } }
  .right-bar.active {
    margin-top: 135px;
    transform: translateX(0);
    border-left: 3px solid #cdcdcd; }
    @media (min-width: 358px) {
      .right-bar.active {
        margin-top: 102px;
        padding-bottom: 102px; } }
    @media (min-width: 507px) {
      .right-bar.active {
        margin-top: 64px;
        padding-bottom: 64px; } }
    @media (min-width: 910px) {
      .right-bar.active {
        margin-top: 25px;
        padding-bottom: 25px; } }
  .right-bar .right-bar-top {
    display: flex;
    flex-direction: column; }
    .right-bar .right-bar-top .nav-tabs .nav-item .nav-link {
      padding: 20px 20px; }
      .right-bar .right-bar-top .nav-tabs .nav-item .nav-link.active {
        background: transparent !important;
        border-bottom: 2px solid black; }
    .right-bar .right-bar-top .tab-content .tab-pane .btn-connection {
      background: #1d89cf;
      color: #fff;
      width: 100%;
      border-radius: 2px;
      transition: 0.3s; }
      .right-bar .right-bar-top .tab-content .tab-pane .btn-connection:hover {
        opacity: 0.75; }
    .right-bar .right-bar-top .tab-content .tab-pane .card {
      position: relative;
      border: none !important; }
      .right-bar .right-bar-top .tab-content .tab-pane .card .card-body .card-title {
        font-weight: bold; }
      .right-bar .right-bar-top .tab-content .tab-pane .card .rounded-start {
        border-radius: 100px !important;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px; }
      .right-bar .right-bar-top .tab-content .tab-pane .card .img-fluid {
        width: 50px;
        height: 50px; }
      .right-bar .right-bar-top .tab-content .tab-pane .card .bg-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center; }
      .right-bar .right-bar-top .tab-content .tab-pane .card .card-title {
        margin-bottom: 0; }
      .right-bar .right-bar-top .tab-content .tab-pane .card span {
        width: 15px;
        height: 15px;
        position: absolute;
        border: 2px solid #fff;
        border-radius: 100px;
        bottom: 10px;
        left: 35px; }
    .right-bar .right-bar-top .accordion .accordion-item .accordion-header {
      padding: 8px; }
      .right-bar .right-bar-top .accordion .accordion-item .accordion-header .accordion-button {
        padding: 0 !important; }
        .right-bar .right-bar-top .accordion .accordion-item .accordion-header .accordion-button:focus {
          box-shadow: 0 0 0 transparent !important; }
        .right-bar .right-bar-top .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
          background: #f0f3f4; }
  .right-bar .right-bar-bottom {
    padding-top: 62px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 22px 20px 70px 20px;
    margin-bottom: 25px;
    flex-grow: 1; }
    @media (max-width: 1459.98px) {
      .right-bar .right-bar-bottom {
        border-top: 0; } }
    .right-bar .right-bar-bottom .form-control {
      border-radius: 0 !important; }
    .right-bar .right-bar-bottom .btn {
      border-radius: 0 !important; }
  .right-bar.dark-mode {
    background: rgba(0, 0, 0, 0.3); }

.btn-right-menu {
  display: block; }
  @media (min-width: 1200px) {
    .btn-right-menu {
      display: none; } }

.switch-wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 5px 0px; }
  .switch-wrap span {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    font-size: 16px;
    color: #000; }
  .switch-wrap .lever {
    flex: 0 0 auto;
    position: relative;
    width: 1.75rem;
    height: 1rem;
    background-color: gray;
    border-radius: 100px;
    margin-right: 5px;
    border-color: red;
    background-color: red; }
    .switch-wrap .lever:last-child {
      margin-right: 0;
      margin-left: 5px; }
    .switch-wrap .lever:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: white;
      border-radius: 100px;
      left: 2px;
      top: 50%;
      transition: 0.3s;
      transform: translateY(-50%); }
  .switch-wrap input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute; }
    .switch-wrap input:checked ~ .lever {
      border-color: #4cd964;
      background-color: #4cd964; }
      .switch-wrap input:checked ~ .lever:after {
        left: 14px; }

.logo {
  width: 120px; }

.sandwich {
  display: inline-block;
  right: 0;
  width: 20px;
  cursor: pointer;
  background: transparent;
  color: #000;
  border: 0;
  padding: 0;
  transition: 0.3s; }
  .sandwich:before {
    content: "";
    width: 20px; }
  .sandwich:after {
    content: "";
    width: 20px;
    margin-top: 4px; }
  .sandwich span {
    width: 20px;
    margin-top: 4px; }
  .sandwich:before, .sandwich span, .sandwich:after {
    display: block;
    transition: 0.3s;
    border-top: 2px solid #000;
    margin-left: auto; }
  .sandwich.active:before {
    transform: rotate(45deg) translateX(3px) translateY(6px); }
  .sandwich.active:after {
    transform: rotate(-45deg) translateX(2px) translateY(-5px); }
  .sandwich.active span {
    width: 0;
    opacity: 0; }

.dash-page {
  padding: 5px;
  background: #f0f3f4;
  min-height: calc(100vh - 70px);
  margin-top: 120px;
  overflow-x: hidden !important;
  transition: 0.3s; }
  .dash-page.inactive {
    filter: brightness(0.5);
    pointer-events: none; }
  @media (min-width: 575.98px) {
    .dash-page {
      padding: 20px; } }
  @media (min-width: 358px) {
    .dash-page {
      margin-top: 85px; } }
  @media (min-width: 507px) {
    .dash-page {
      margin-top: 48px; } }
  @media (min-width: 899px) {
    .dash-page {
      margin-top: 10px; } }
  .dash-page.dark-mode {
    background: rgba(0, 0, 0, 0.3); }

.mail-page {
  padding: 5px;
  background: #f0f3f4; }

.calendar {
  position: relative;
  transition: 0.3s; }
  .calendar span {
    position: absolute;
    font-size: 16px;
    color: #fff;
    top: -5px;
    left: 30px; }
  .calendar .fa-regular:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 25px;
    background: red;
    top: -3px;
    left: 24px; }

.bell {
  position: relative;
  transition: 0.3s; }
  .bell span {
    position: absolute;
    font-size: 16px;
    color: #fff;
    top: -5px;
    left: 30px; }
  .bell .fa-solid:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 25px;
    background: red;
    top: -3px;
    left: 24px; }
  .bell .dropdown-toggle {
    transition: 0.3s; }
    .bell .dropdown-toggle:after {
      display: none; }
    .bell .dropdown-toggle:hover {
      opacity: 0.7; }
  .bell .dropdown-menu {
    padding: 5px;
    left: 0; }
    @media (min-width: 768px) {
      .bell .dropdown-menu {
        left: inherit;
        right: 0; } }
    .bell .dropdown-menu .dropdown-item .card-text {
      margin-bottom: 0; }

.top-blocks .widgets {
  min-height: 150px; }

.nav-tabs .nav-link {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #c1daec;
  min-width: 100%; }
  .nav-tabs .nav-link.active {
    background: rgba(0, 0, 0, 0.2);
    color: #c1daec; }
  .nav-tabs .nav-link:hover {
    background: rgba(0, 0, 0, 0.2); }
  .nav-tabs .nav-link .dash-inbox {
    align-items: center;
    position: relative; }
    .nav-tabs .nav-link .dash-inbox span {
      position: relative;
      z-index: 4; }
      .nav-tabs .nav-link .dash-inbox span:before {
        content: "2";
        position: absolute;
        width: 25px;
        height: 25px;
        border: 3px solid #215036;
        border-radius: 25px;
        background: #39b54a;
        right: -7px;
        top: 0;
        z-index: 1;
        line-height: 1.3;
        font-weight: bold; }
  .nav-tabs .nav-link .pages-inbox {
    align-items: center;
    position: relative; }
    .nav-tabs .nav-link .pages-inbox span {
      position: relative;
      z-index: 4; }
      .nav-tabs .nav-link .pages-inbox span:before {
        content: "8";
        position: absolute;
        width: 25px;
        height: 25px;
        border: 3px solid #5e5a28;
        border-radius: 25px;
        background: #ffc700;
        right: -7px;
        top: 0;
        z-index: 1;
        line-height: 1.3;
        font-weight: bold; }
  .nav-tabs .nav-link .ui-inbox {
    align-items: center;
    position: relative; }
    .nav-tabs .nav-link .ui-inbox span {
      position: relative;
      z-index: 4; }
      .nav-tabs .nav-link .ui-inbox span:before {
        content: "5";
        position: absolute;
        width: 25px;
        height: 25px;
        border: 3px solid #15576b;
        border-radius: 25px;
        background: #00bff3;
        right: -7px;
        top: 0;
        z-index: 1;
        line-height: 1.3;
        font-weight: bold; }

.widgets {
  display: flex;
  border-radius: 10px;
  line-height: 1;
  flex-direction: column;
  background: #fff;
  min-height: 100% !important; }

.legend-con {
  font-family: Roboto;
  display: inline-block; }
  .legend-con ul {
    list-style: none; }
    .legend-con ul li {
      display: flex;
      align-items: center;
      margin-bottom: 4px; }
      .legend-con ul li span {
        display: inline-block; }
  .legend-con .canvas-con-inner, .legend-con .legend-con {
    display: inline-block; }
  .legend-con .canvas-con {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 365px;
    position: relative; }
  .legend-con .canvas-con-inner {
    height: 100%; }
  .legend-con span.chart-legend {
    width: 25px;
    height: 25px;
    margin-right: 10px; }

.widget-cards {
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .widget-cards .card {
    position: relative;
    border: none !important;
    background: transparent; }
    .widget-cards .card .card-body .card-title {
      font-weight: bold; }
    .widget-cards .card .rounded-start {
      border-radius: 100px !important;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px; }
    .widget-cards .card .img-fluid {
      width: 50px;
      height: 50px; }
    .widget-cards .card .bg-img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      position: relative; }
    .widget-cards .card .card-title {
      margin-bottom: 0.5rem; }
    .widget-cards .card .online {
      position: relative; }
      .widget-cards .card .online span {
        width: 20px;
        height: 20px;
        position: absolute;
        border: 5px solid #fff;
        border-radius: 100px;
        top: -5px;
        left: 35px; }

.notification {
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px; }

@media (max-width: 767.98px) {
  #mychart {
    width: 200px;
    height: 100px; } }

.progress {
  background-color: #fff;
  height: 8px; }

.bg-purple {
  background-color: #dcc2f1;
  opacity: 1; }

@media (max-width: 767.98px) {
  .table-overflow {
    overflow: auto; } }
.table-overflow::-webkit-scrollbar {
  width: 3px;
  height: 4px; }
.table-overflow::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 3px; }
.table-overflow::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 3px; }
.table-overflow .table-cards {
  max-width: 80px !important; }
  .table-overflow .table-cards .card {
    position: relative;
    border: none !important;
    background: transparent; }
  .table-overflow .table-cards .card-body {
    padding: 5px 15px; }
  .table-overflow .table-cards .rounded-start {
    border-radius: 100px !important;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px; }
  .table-overflow .table-cards .img-fluid {
    width: 50px;
    height: 50px; }
  .table-overflow .table-cards .bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; }
    .table-overflow .table-cards .bg-img .card-title {
      margin-bottom: 0; }
.table-overflow .table-vertical th {
  vertical-align: middle !important; }
  .table-overflow .table-vertical th .form-check {
    padding-left: 0;
    margin-bottom: 0;
    display: flex; }
.table-overflow .table-vertical td {
  vertical-align: middle; }

.dd-action {
  border-radius: 8px; }
  .dd-action .btn {
    width: 150px !important;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    border-radius: 8px; }
    .dd-action .btn:after {
      margin-left: auto;
      vertical-align: middle;
      margin-top: auto;
      margin-bottom: auto; }
    @media (min-width: 767.98px) {
      .dd-action .btn {
        width: 230px !important; } }
  .dd-action .dropdown-menu {
    width: 100%; }
    @media (min-width: 767.98px) {
      .dd-action .dropdown-menu {
        width: 230px; } }

@media (min-width: 1200px) {
  .reports .widgets {
    min-height: 370px; } }

.canvas-con-inner #circlechart {
  width: 400px !important;
  height: 200px !important;
  margin-left: -100px !important; }

.chartjs-wrapper {
  border: 0px solid #e5e5e5;
  padding: 20px;
  width: 100%; }
  .chartjs-wrapper .chartjs {
    height: 200px; }

.mail-body {
  padding: 5px; }
  @media (max-width: 767.98px) {
    .mail-body {
      margin-top: 65px;
      overflow-x: hidden; } }
  @media (max-width: 297.98px) {
    .mail-body {
      margin-top: 145px; } }
  @media (min-width: 298px) {
    .mail-body {
      margin-top: 100px; } }
  @media (min-width: 358px) {
    .mail-body {
      margin-top: 65px; } }
  @media (min-width: 523px) {
    .mail-body {
      margin-top: 30px; } }
  @media (min-width: 768px) {
    .mail-body {
      margin-top: 25px; } }
  @media (min-width: 901px) {
    .mail-body {
      margin-top: 0; } }

.messages .card {
  border: none;
  border-radius: 0;
  transition: 0.3s; }
  .messages .card.new {
    background-color: #c8c8c8 !important; }
  .messages .card .card-title {
    font-weight: bold; }
  .messages .card .rounded-start {
    border-radius: 0 !important; }
  .messages .card .img-fluid {
    width: 70px;
    height: 70px; }
  .messages .card .bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; }
  .messages .card .card-body {
    padding: 0;
    padding-left: 1rem; }
  .messages .card:hover {
    color: rgba(0, 0, 0, 0.3); }
    .messages .card:hover .bg-img {
      opacity: 1; }
.messages a {
  text-decoration: none; }
.messages .message-area {
  margin-top: auto;
  overflow-x: hidden; }

.text-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff; }

.tox {
  max-height: 175px; }

.day-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center; }
  .day-columns::-webkit-scrollbar {
    width: 3px;
    height: 4px; }
  .day-columns::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px; }
  .day-columns::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 3px; }
  .day-columns .day-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 400px;
    min-width: 160px;
    border: 1px solid #ebedf2;
    border-left: none; }
    .day-columns .day-column:first-child {
      border-left: 1px solid #ebedf2; }
    .day-columns .day-column .day-header {
      border-bottom: 1px solid #ebedf2;
      text-align: center;
      padding: 5px;
      color: #898b96; }
    .day-columns .day-column .day-content {
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-start;
      padding: 5px;
      overflow-y: auto; }
      .day-columns .day-column .day-content .event {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 3px;
        color: #000;
        padding: 5px;
        box-shadow: 0px 1px 15px 1px rgba(81, 77, 92, 0.08); }
        .day-columns .day-column .day-content .event .title {
          font-size: 12px; }
        .day-columns .day-column .day-content .event footer {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          font-size: 11px; }
    .day-columns .day-column .day-footer {
      border-top: 1px solid #ebedf2;
      padding: 5px;
      text-align: center;
      font-size: 13px;
      color: #575962; }
  .day-columns .navy {
    background-color: #34495e;
    color: #fff !important; }
  .day-columns .red {
    background-color: #e74c3c; }
  .day-columns .orange {
    background-color: #f39c12; }
  .day-columns .blue {
    background-color: #3498db; }
  .day-columns .green {
    background-color: #2ecc71; }
  .day-columns .purple {
    background-color: #9b59b6; }
  .day-columns .gray {
    background-color: #7f8c8d; }
  .day-columns .turquoise {
    background-color: #1abc9c; }
  .day-columns .grey {
    background-color: #bdc3c7;
    color: #202020 !important; }

/*# sourceMappingURL=style.css.map */
